				<div id="page-content">
					
					<div>
					<h4 class="line-divider"></h4>
		            <%= render :partial => "index/app_table", :locals => {:tabledata => @random_free_apps }  %>
		        	</div>

				</div>